.overview-item {
  margin: auto;
  margin-bottom: 2em;
  border-radius: 5px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-card-background);

  .overview-item-first-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;

    .overview-item-description {
      font-weight: bold;
      color: var(--theme-page-subtitle);
    }

    .overview-item-logo {
      
    }
  }

  .overview-item-second-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .overview-item-counter {
      font-weight: bold;
      font-size: 35px;
      color: var(--theme-page-title);
    }
  
    .overview-item-progression {
      display: flex;
      align-items: center;
      
      .overview-item-progression-logo {
        margin-right: 0.5em;
      }

      .overview-item-progression-counter {
        font-weight: bold;
      }

      .overview-item-progression-counter--is-up {
        color: hsl(163, 72%, 41%);
      }

      .overview-item-progression-counter--is-down {
        color: hsl(356, 69%, 56%);
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1130px;
    margin: 4em auto;

    .overview-item {
      margin: 0 0 2em 0;
      width: 18.5em;
    }

  }

}
