.app {
  padding: 40px 25px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: hsl(230, 17%, 14%);
  background-color: hsl(0, 0%, 100%);

  .overview-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 1.5em;
    margin-top: 2em;
    color: hsl(228, 12%, 44%);
  }
}
